<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forum</title>
    <!-- <link rel="stylesheet" href="CWF.css"> -->
  </head>
  <body>

    <form>
    Username:  <input type="text" placeholder="Enter username" name="username"/><p>
    Email  <input type="email"placeholder="Enter E-mail" name="email"/><p>
    Password  <input type="password" placeholder="Enter password" name="pass"/><p>
      <!-- <input type="button" name="sub_btn"/> -->
    <button name="sub_btn">Submit</button>






  </body>
  </html>