



<a href="/logout"><button type="button" name="button">Logout</button></a>
<a href="/home"><button type="button" name="button">Home</button></a>
<a href="/mBoard"><button type="button" name="button">Message Board</button></a>

<h1>Messages of the Day</h1>



<%for(var i=0; i<filler.length; i++){ %>


<h4> <%=filler[i]%><h4>


<%}%>
